snippet inc "include library" b
#include <$1>
$0
endsnippet

snippet inch "include header" b
#include "$1"
$0
endsnippet

snippet main "main" b
int main(int argc, char *argv[])
{
	$0
}
endsnippet

snippet def "define" b
#define $0
endsnippet

snippet for "for loop"
for ($1; $2; $3)$0
endsnippet

snippet if "if conditional"
if ($1)$0
endsnippet

