snippet im "code" i
\`${1:${VISUAL}}\`$0
endsnippet

snippet dm "big code"
\`\`\`${1:${VISUAL}}\`\`\`$0
endsnippet

snippet bb "bold text" i
**${1:${VISUAL}}**$0
endsnippet

snippet it "italic text" i
*${1:${VISUAL}}*$0
endsnippet
