snippet im "inline math" i
$${1:${VISUAL}}$$0
endsnippet

snippet dm "display math"
$$ ${1:${VISUAL}} $$$0
endsnippet

snippet ic "inline code" i
\`${1:${VISUAL}}\`$0
endsnippet

snippet dc "display code"
\`\`\`${1:${VISUAL}}\`\`\`$0
endsnippet

snippet bb "bold text" i
**${1:${VISUAL}}**$0
endsnippet

snippet it "italic text" i
*${1:${VISUAL}}*$0
endsnippet

snippet href "link" i
[${1:${VISUAL}}]($2)$0
endsnippet
